* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
}
nav .logo {
  width: 105px;
  height: 60px;
  margin-right: 250px;
  padding-top: 18px;
}
nav .logo img {
  width: 105px;
  height: 60px;
}
nav .container-xxl {
  height: 100px;
  background-color: white;
  justify-content: space-between;
}
@media (max-width: 859px) {
  nav .container-xxl {
    display: flex;
  }
}
nav .container-xxl a {
  color: #374151;
}
nav .container-xxl i {
  font-size: 25px;
}
@media (max-width: 859px) {
  nav .nav-item {
    display: none;
  }
}
nav .nav-item .user-icon {
  position: relative;
}
nav .nav-item .user-icon:focus ~ .login-remind {
  display: flex;
  background-color: white;
  height: 50px;
}
nav .nav-item .login-remind {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 0px;
  z-index: 2;
  border-radius: 5px;
  font-weight: 500px;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  transform: translate(-70%, 0);
  padding-top: 15px;
}
nav .nav-item .login-remind p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  height: 100%;
}
nav .nav-item .login-remind p:hover {
  background-color: #e5e7eb;
}
nav .burger-link {
  background-color: transparent;
  display: none;
}
@media (max-width: 859px) {
  nav .burger-link {
    display: block;
    width: 100px;
    height: 100px;
  }
}
nav .burger-link .burger-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .burger-link .burger-box #burger:checked ~ .nav {
  display: flex;
}
nav .burger-link .nav {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
  background-color: #e5e7eb;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
nav .burger-link .nav .nav-item2 {
  width: 100%;
}
nav .burger-link .nav .nav-item2 .user-icon {
  position: relative;
}
nav .burger-link .nav .nav-item2 .user-icon:focus ~ .login-remind {
  display: flex;
  background-color: white;
  height: 50px;
}
nav .burger-link .nav .nav-item2 .login-remind {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 50%;
  width: 150px;
  height: 0px;
  z-index: 2;
  border-radius: 5px;
  font-weight: 500px;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 0);
  padding-top: 15px;
}
nav .burger-link .nav .nav-item2 .login-remind p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  height: 100%;
}
nav .burger-link .nav .nav-item2 .login-remind p:hover {
  background-color: #e5e7eb;
}

main .banner {
  background-color: #d1d5db;
  padding: 3% 23%;
}
main .banner .list-detail {
  background-color: #f3f4f6;
  padding: 4% 4%;
  border-radius: 10px;
}
main .banner .list-detail #section1 {
  padding: 0;
}
main .banner .list-detail #section1 h3 {
  font-weight: bold;
}
main .banner .list-detail #section2 .content {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
}
main .banner .list-detail #section2 .content .article-box {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .banner .list-detail #section2 .content .article-box .article-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left {
  display: flex;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left .article-title-box {
  border: 3px solid seagreen;
  border-bottom: 0px;
  padding: 5px 0 0 5px;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left .article-title-box .article-title {
  background-color: white;
  width: 100%;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left .article-title-box .title-box {
  width: 250px;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left .article-author-box {
  display: flex;
  border-top: 3px solid seagreen;
  border-right: 3px solid seagreen;
  flex-direction: column;
  padding: 5px 0 0 5px;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left .article-author-box .article-author {
  background-color: white;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-left .article-author-box .name-box {
  width: 100px;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-right {
  display: flex;
  border: 3px solid seagreen;
  border-bottom: 0px;
  padding: 5px 0 0 5px;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-right .article-time {
  background-color: white;
}
main .banner .list-detail #section2 .content .article-box .article-top .article-top-right .time-box {
  width: 150px;
}
main .banner .list-detail #section2 .content .article-box .article-bot {
  width: 100%;
}
main .banner .list-detail #section2 .content .article-box .article-bot .article-content {
  padding: 5px 0 0 5px;
  min-height: 100px;
  background-color: white;
  border: 3px solid seagreen;
}
main .banner .list-detail #section2 .content .function-box {
  display: flex;
  justify-content: flex-end;
}
main .banner .list-detail #section2 .content .function-box a {
  margin-left: 10px;
}
main .banner .list-detail #section3 .content {
  background-color: white;
}
main .banner .list-detail #section3 .content .form-box {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .banner .list-detail #section3 .content .form-box .form-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0px 30px;
}
main .banner .list-detail #section3 .content .form-box .form-top .form-title {
  margin-bottom: 30px;
}
main .banner .list-detail #section3 .content .form-box .form-top .form-name {
  margin-bottom: 30px;
}
main .banner .list-detail #section3 .content .form-box .form-top span {
  margin-right: 25px;
}
main .banner .list-detail #section3 .content .form-box .form-bot {
  display: flex;
  padding: 0px 30px 30px 30px;
}
main .banner .list-detail #section3 .content .form-box .form-bot .form-content textarea {
  resize: none;
}
main .banner .list-detail #section3 .button-box {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
main .banner .list-detail #section3 .button-box button {
  border-radius: 30px;
  border: 1px solid steelblue;
  background-color: steelblue;
  color: #fff;
  width: 100px;
}
main .banner .list-detail #section3 .button-box button:hover {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}

footer .other-info1 {
  padding: 0 10%;
  width: 100%;
  background-color: white;
  margin: 10% 0;
}
@media (max-width: 763px) {
  footer .other-info1 {
    flex-wrap: wrap;
  }
}
footer .other-info1 .l-box {
  width: 15%;
  min-width: 256px;
}
@media (max-width: 763px) {
  footer .other-info1 .l-box {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}
footer .other-info1 .l-box .logo {
  width: 100%;
}
footer .other-info1 .l-box .logo span {
  font-size: 1.2rem;
}
footer .other-info1 .l-box .logo img {
  border-radius: 50%;
}
footer .other-info1 .l-box .info {
  font-size: 0.9rem;
  opacity: 0.8;
}
footer .other-info1 .r-box {
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 763px) {
  footer .other-info1 .r-box {
    width: 100%;
    text-align: center;
  }
}
footer .other-info1 .r-box ul {
  width: 25%;
}
@media (max-width: 1024px) {
  footer .other-info1 .r-box ul {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 763px) {
  footer .other-info1 .r-box ul {
    width: 100%;
    margin-bottom: 30px;
  }
}
footer .other-info1 .r-box ul li {
  list-style: none;
}
footer .other-info1 .r-box ul li a {
  color: black;
  opacity: 0.6;
}
footer .other-info1 .r-box ul li a:hover {
  opacity: 1;
}
footer .other-info2 {
  background-color: #f3f4f6;
}
footer .other-info2 .container {
  font-size: 0.9rem;
  opacity: 0.8;
}
footer .other-info2 .container p {
  padding-top: 15px;
}
footer .other-info2 .container .svg {
  height: 20px;
  margin-right: 3px;
  color: #303031;
}
footer .other-info2 .container .svg img {
  height: 20px;
  width: 20px;
}/*# sourceMappingURL=comment.css.map */